@model AllReservationListViewModel;

@{
    this.ViewBag.Title = "All Reservations";
}
@if (@Model.Reservations.Count() == 0)
{
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="about_text_2">
                <p>
                    Oh, no! Nothing reserved yet...
                </p>
            </div>
            <div class="about_text_highlight">
                Reserve court in 3 easy steps:
            </div>
            <div class="about_text_highlight">
                <ol>
                    <li>Find a club.</li>
                    <li>Choose a date and time.</li>
                    <li>Reserve it!</li>
                </ol>
            </div>
            <div class="about_text_2">
                <p>
                    Waiting you back here. :)
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="button button-large button_1 elements_button mt-4">
                <a asp-area="" asp-controller="Club" asp-action="All">
                    <span>Find Clubs</span>
                </a>
            </div>
        </div>
    </div>
}

@if (@Model.Reservations.Count() > 0)
{
    <h2>Reservations (@Model.Reservations.Count())</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Club</th>
                <th scope="col">Club Address</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in this.Model.Reservations)
            {
                <tr>

                    <td>@reservation.ClubName</td>
                    <td>@reservation.ClubCityName, @reservation.ClubAddress</td>
                    <td>@reservation.DateTime</td>
                    <td>@reservation.DateTime</td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm"
                           asp-area="" asp-controller="Reservation" asp-action="CancelReservation" asp-route-id="@reservation.Id">
                            Cancel
                        </a>
                    </td>
                </tr>
            }
    </table>
}