@using PlayTennis.Common
@model IndexViewModel;


@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div id="slider">
        <img src="~/780473.jpg" width="1000" height="350" class="embed-responsive">
        <h2>Reserve court, find players, play tennis now!</h2>
        @if (this.User.Identity.IsAuthenticated)
        {
            <a asp-controller="Club" asp-action="All" class="btn btn-primary btn-lg">FIND FREE COURT NOW!</a>
        }
    </div>
    }
    <div class="jumbotron">
        <div class="row">
            <h2 class="col-md-6 text-center">
                @Model.Players Players
            </h2>
            <h2 class="col-md-6 text-center" ">
                @Model.ClubsCount Clubs
            </h2>
            <h2 class="col-md-6 text-center" ">
                @Model.Trainers Trainers
            </h2>
            <h2 class="col-md-6 text-center" ">
                @Model.Reservations Reservations
            </h2>
        </div>
    </div>
</div>

