@model TrainerDetailsViewModel;
@{ this.ViewData["Title"] = "Trainer: " + @Model.FirstName + " " + @Model.LastName; }

<div class="row mb-4">
    <div class="col-xl-9 col-12">
        <ul class="entry-meta">

            <li class="single-meta">
                <i class="fas fa-user"></i>  Rate @Model.FirstName  @Model.LastName)
            </li>

            <li class="single-meta">
                <ul class="item-rating">
                    <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                    <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                    <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                    <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                    <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                    <li><span id="averageVoteValue">@Model.TrainerVoteAverageValue.ToString("0.0")</span><span> / 5</span> </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

<div class="row row-eq-height">
    <!-- Info Box -->
    <div class="col-lg-4 info_box_col">
        <div class="info_box">
            <div class="info_image"><img src="@Model.ImageUrl" alt=""></div>
            <div class="info_content">
                <div class="info_title">@Model.FirstName @Model.LastName</div>
                <div class="info_text">Town: <strong>@Model.Town</strong></div>
                <div class="info_text">Trainer Since: <strong>@Model.TrainerSinceInYears years</strong></div>
                <div class="info_text">Price: <strong>@Model.PricePerHour lv./hour</strong></div>
                <div class="info_text">Age: <strong>@Model.Years years old</strong></div>
                <div class="info_text">Phone Number: <strong>@Model.PhoneNumber</strong></div>
                <div class="info_text">Email: <strong>@Model.Email</strong></div>
                <div class="col-6 mt-5 ml-5">
                </div>
            </div>
        </div>
    </div>
</div>


<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var trainerId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { trainerId: trainerId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/TrainersVote",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
